In [2]:
import pandas as pd

In [3]:
df1 = pd.read_csv("C:\\Users\\Lenovo\\Downloads\\PROJECT\\CARS24\\PROJECT_CARS24_DATA_CSV_FILE_1\\Car24_data_new_delhi1.csv")

In [4]:
df2 = pd.read_csv("C:\\Users\\Lenovo\\Downloads\\PROJECT\\CARS24\\PROJECT_CARS24_DATA_CSV_FILE_1\\Car24_data_BANGALORE1.csv")

In [5]:
df3 = pd.read_csv("C:\\Users\\Lenovo\\Downloads\\PROJECT\\CARS24\\PROJECT_CARS24_DATA_CSV_FILE_1\\Car24_data_delhi-ncr1.csv")

In [6]:
table = pd.concat([df1,df2,df3],axis = 0)

In [7]:
table.columns

Index(['CAR_NAME', 'BRAND', 'SUB_BRAND', 'MODAL_YEAR', 'AMOUNT', 'FUEL_TYPE',
       'DIS_COVERED', 'EMI_AMOUNT', 'Operate', 'Location'],
      dtype='object')

In [8]:
table2 = table[[ 'CAR_NAME', 'BRAND', 'SUB_BRAND', 'MODAL_YEAR', 'AMOUNT',
       'FUEL_TYPE', 'DIS_COVERED', 'EMI_AMOUNT', 'Operate',"Location"]]

In [9]:
table

,CAR_NAME,BRAND,SUB_BRAND,MODAL_YEAR,AMOUNT,FUEL_TYPE,DIS_COVERED,EMI_AMOUNT,Operate,Location
0,2016 Maruti Alto 800 LXI,Maruti,Alto,2016,241000,PETROL,97698,"4,712",MANUAL,New Delhi
1,2015 Maruti Swift VXI,Maruti,Swift,2015,333000,PETROL,102460,"7,407",MANUAL,New Delhi
2,2019 Maruti Baleno DELTA PETROL 1.2,Maruti,Baleno,2019,557000,PETROL,35190,"10,889",MANUAL,New Delhi
3,2020 Mahindra XUV300 W8 (O) 1.5 DIESEL AMT,Mahindra,XUV300,2020,898000,DIESEL,64038,"17,093",AUTOMATIC,New Delhi
4,2017 Tata NEXON XZ PLUS PETROL,Tata,NEXON,2017,602000,PETROL,82375,"11,769",MANUAL,New Delhi
...,...,...,...,...,...,...,...,...,...,...
883,2018 Maruti IGNIS DELTA 1.2,Maruti,IGNIS,2018,424000,PETROL,29766,"8,289",MANUAL,Delhi NCR
884,2013 Hyundai Verna FLUIDIC 1.4 VTVT,Hyundai,Verna,2013,356000,PETROL,37454,"9,375",MANUAL,Delhi NCR
885,2016 Hyundai i10 MAGNA 1.1,Hyundai,i10,2016,309000,PETROL,59405,"6,041",MANUAL,Delhi NCR
886,2019 Maruti Eeco 5 STR WITH A/C+HTR CNG,Maruti,Eeco,2019,468000,CNG,62412,"9,149",MANUAL,Delhi NCR
887,2014 Maruti Alto 800 LXI,Maruti,Alto,2014,227999,PETROL,11865,"5,072",MANUAL,Delhi NCR

In [10]:
table2.tail()

,CAR_NAME,BRAND,SUB_BRAND,MODAL_YEAR,AMOUNT,FUEL_TYPE,DIS_COVERED,EMI_AMOUNT,Operate,Location
883,2018 Maruti IGNIS DELTA 1.2,Maruti,IGNIS,2018,424000,PETROL,29766,"8,289",MANUAL,Delhi NCR
884,2013 Hyundai Verna FLUIDIC 1.4 VTVT,Hyundai,Verna,2013,356000,PETROL,37454,"9,375",MANUAL,Delhi NCR
885,2016 Hyundai i10 MAGNA 1.1,Hyundai,i10,2016,309000,PETROL,59405,"6,041",MANUAL,Delhi NCR
886,2019 Maruti Eeco 5 STR WITH A/C+HTR CNG,Maruti,Eeco,2019,468000,CNG,62412,"9,149",MANUAL,Delhi NCR
887,2014 Maruti Alto 800 LXI,Maruti,Alto,2014,227999,PETROL,11865,"5,072",MANUAL,Delhi NCR

In [11]:
table2.columns

Index(['CAR_NAME', 'BRAND', 'SUB_BRAND', 'MODAL_YEAR', 'AMOUNT', 'FUEL_TYPE',
       'DIS_COVERED', 'EMI_AMOUNT', 'Operate', 'Location'],
      dtype='object')

In [14]:
#Check the duplicate value from the data
table2.duplicated()

0      False
1      False
2      False
3      False
4      False
       ...
883    False
884    False
885    False
886    False
887    False
Length: 2346, dtype: bool

In [127]:
# Drop the Duplicates values 
table2.drop_duplicates(inplace = True)

In [130]:
print(table2.duplicated().sum())
#Now there is no any duplicate value in the data

0

In [131]:
#Finding out the Null Values 
table2.isnull().sum()

CAR_NAME       0
BRAND          0
SUB_BRAND      0
MODAL_YEAR     0
AMOUNT         0
FUEL_TYPE      0
DIS_COVERED    0
EMI_AMOUNT     0
Operate        0
Location       0
dtype: int64

In [ ]:
#Now there is No any NuLL value in the data.

In [129]:
table2.to_csv("CARS_24_FILE1.csv",index = False)